.main-index {
    .banner_container {
        width: 100vw;
        height: 72vh;
        background-color: nth($list: $paleta-de-colores, $n:1 );
        background-image: url(../media/images/[fondo]---guaido.png);
        background-size: cover;
        background-repeat: no-repeat;

        .banner_container_background {
            height: 100%;
            background: nth($list: $linear-background, $n: 1);
            @include flex (auto, center, center, auto);

            .banner_content_container {
                height: 100%;
                margin: 0 6.25%;
                @include flex (column, auto, center, 50px);

                .banner_text_container {
                    @include flex (column, center, space-between, 20px);

                    h1 {
                        @extend %h2-style;
                        font-size: nth($list: $hx-font-size, $n:1 );
                        color: nth($list: $paleta-de-colores, $n: 2);
                        
                        .h_bold {
                            color: nth($list: $paleta-de-colores, $n: 3);
                        }

                    }
            
                    p {
                        @extend %p-style;
                        font-size: nth($list: $p-font-size, $n: 1 );
                        color: nth($list: $paleta-de-colores, $n:4);
                    }
                }

                .banner_btn_container {
                    .banner_btn_primary {
                        a {
                            @include flex (auto, center, center, auto);
                            background-color: nth($list: $paleta-de-colores, $n:5);
                            color: nth($list: $paleta-de-colores, $n:2);
                            height: 35px;
                            border-radius: 5px;
                            text-decoration: none;
                            font-size: 100%;
                            transition: background-color 0.2s ease-in-out, font-size 0.2s ease-out;

                            &:hover {
                                font-size: 110%;
                                background-color: nth($list: $paleta-de-colores, $n:3);
                            }
                        }
                    }
    
                    .banner_btn_second {
                        display: none;
                    }
                }
            }
        }
    
    }    
}
