@media only screen and (min-width: 576px) {
    .main-index {
        .experience_container {
            margin: 20px 7%;
    
            .experience_content {
                h2 {
                    font-size: nth($list: $hx-font-size, $n: 1);
                }
    
                p {
                    font-size: nth($list: $p-font-size, $n: 2 );
                    margin-top: 20px;
                }
            }
    
            .experience_cards_container {   
                margin: 10px 0; 
                .experience_cards {    
                    .experience_card {
                        .experience_card_title {
                            .expcd_p1 {
                                font-size: 130%;
                            }
                            
                            .expcd_p2 {
                                font-size: 160%;
                            }
                        }

                        .expcd_p3 {
                            font-size: 110%;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .main-index {
        .experience_container {
            margin: 30px 8%;
    
            .experience_content {
                h2 {
                    font-size: nth($list: $hx-font-size, $n: 1);
                }
    
                p {
                    font-size: nth($list: $p-font-size, $n: 2 );
                    margin-top: 20px;
                }
            }
    
            .experience_cards_container {   
                margin: 20px 0;  
                .experience_cards {    
                    .experience_card {
                        .experience_card_title {
                            .expcd_p1 {
                                font-size: 130%;
                            }
                            
                            .expcd_p2 {
                                font-size: 160%;
                            }
                        }

                        .expcd_p3 {
                            font-size: 105%;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 950px) {
    .main-index {
        .experience_container {
            margin: 50px 12%;
    
            .experience_content {
                h2 {
                    font-size: nth($list: $hx-font-size, $n: 2);
                    margin-bottom: 50px;
                }
    
                p {
                    font-size: nth($list: $p-font-size, $n: 2 );
                    margin-top: 20px;
                }
            }
    
            .experience_cards_container {
                margin: 30px 0;  
                .experience_cards {    
                    .experience_card {
                        .experience_card_title {
                            .expcd_p1 {
                                font-size: 130%;
                            }
                            
                            .expcd_p2 {
                                font-size: 160%;
                            }
                        }

                        .expcd_p3 {
                            font-size: 110%;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .main-index {
        .experience_container {
            margin: 100px 14%;
    
            .experience_content {
                h2 {
                    font-size: nth($list: $hx-font-size, $n: 3);
                    margin-bottom: 50px;
                }
    
                p {
                    font-size: nth($list: $p-font-size, $n: 3 );
                    margin-top: 30px;
                }
            }
    
            .experience_cards_container {
                margin: 50px 0;      
                .experience_cards {    
                    .experience_card {
                        .experience_card_title {
                            .expcd_p1 {
                                font-size: 200%;
                            }
                            
                            .expcd_p2 {
                                font-size: 160%;
                            }
                        }

                        .expcd_p3 {
                            font-size: 130%;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}