/*<mediaqueries - footer - 576px*/
@media only screen and (min-width: 576px) {
    footer {
        .footer_container {
            .footer_content_container {
                margin: 0 7%;
        
                .footer_content {
                    padding: 60px 0;
                    flex-direction: row;
                    flex-wrap: wrap;
        
                    .footer_logo_container {
                        flex-shrink: 1;
                        width: 20%;

                        .footer_logo {
                            width: 100px;
                        }
                    }
        
                    .footer_nav_container {
                        margin: 30px 0;
                        flex-grow: 1;
                        width: 80%;

                        
                        .footer_nav {
                            flex-direction: row;
                            gap: 10px;

                            a {
                                font-size: 105%;
                            }
                        }
                    }
        
                    .footer_icons {
                        margin: 0;
                        flex-grow: 1;
                        width: 100%;
                        justify-content: center;  

                        img {
                            width: 20px;
                        }

                    }
        
                    .footer_copy {
                        margin-top: 20px;
                        gap: 20px;
                        flex-shrink: 1;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h5 {
                            font-size: 70%;    
                        }
        
                        h6 {
                            margin-top: 0px;
                            font-size: 70%;  
                        }
                    }
                }
            }
        }
    }
}

/*<mediaqueries - footer - 768px*/
@media only screen and (min-width: 768px) {
    footer {
        .footer_container {
            .footer_content_container {
                margin: 0 8%;
        
                .footer_content {
                    padding: 70px 0;
        
                    .footer_nav_container {
                        margin: 30px 0;
                        flex-grow: 1;
                        width: 60%;

                        .footer_nav {
                            a {
                                font-size: 110%;
                            }
                        }
                    }
        
                    .footer_icons {
                        width: 20%;
                        flex-direction: row;
                        justify-content: center;  
                    }
        
                    .footer_copy {
                        margin-top: 30px;
                        flex-direction: column;


                        h5 {
                            font-size: 100%;    
                        }
        
                        h6 {
                            margin-top: 10px;
                            font-size: 90%;   
                        }
                    }
                }
            }
        }
    }
}

/*<mediaqueries - footer - 950px*/
@media only screen and (min-width: 950px) {
    footer {
        .footer_container {
            .footer_content_container {
                margin: 0 12%;
        
                .footer_content {
                    padding: 80px 0;
        
                    .footer_nav_container {
                        margin: 50px 0;

                        .footer_nav {
                            a {
                                font-size: 120%;
                            }
                        }
                    }

                    .footer_copy {
                        h5 {
                            font-size: 90%;    
                        }
        
                        h6 {
                            margin-top: 10px;
                            font-size: 80%;   
                        }
                    }
                }
            }
        }
    }
}

/*<mediaqueries - footer - 1200px*/
@media only screen and (min-width: 1200px) {
    footer {
        .footer_container {
            .footer_content_container {
                margin: 0 14%;
        
                .footer_content {
                    padding: 90px 0;

                    .footer_logo_container {
                        .footer_logo {
                            width: 150px;
                        }
                    }

                    .footer_nav_container{
                        .footer_nav {
                            
                            a {
                                font-size: 130%;
                            }
                        }
                    }

                    .footer_icons {
                        img {
                            width: 30px;
                        }
                    }


                    .footer_icons {
                        margin-top: 0;
                        width: 10%;
                        flex-direction: row;
                        justify-content: center;  

                    }

                    .footer_copy {
                        h5 {
                            font-size: 100%;    
                        }
        
                        h6 {
                            margin-top: 0px;
                            font-size: 90%;   
                        }
                    }
                }
            }
        }
    }
}