$h2-style-320px: (
    h2-font-weight : bold,
    h2-font-size: 230%,
    h2-font-color: nth($list: $paleta-de-colores, $n:1 ),
    h2-line-height: 120%
);

$h2-style-576px: (
    h2-font-weight : bold,
    h2-font-size: 230%,
    h2-font-color: nth($list: $paleta-de-colores, $n:1 ),
    h2-line-height: 120%
);

$h2-style-950px: (
    h2-font-weight : bold,
    h2-font-size: 230%,
    h2-font-color: nth($list: $paleta-de-colores, $n:1 ),
    h2-line-height: 120%
);

$h2-style-1200px: (
    h2-font-weight : bold,
    h2-font-size: 230%,
    h2-font-color: nth($list: $paleta-de-colores, $n:1 ),
    h2-line-height: 120%
);
