header {
    .header_container {
        background-color: nth($list: $paleta-de-colores, $n:1 );
        width: 100vw;
        height: auto;
        padding: 5px 0;
    
        .header_content {
            margin: 0 6.25%;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo_container {
                .logo {
                    width: 60px;
                }
            }

            #check {
                display: none;

                &:checked ~ .header_nav_responsive_container {
                    display: flex;
                }
            }

            .checkbtn {
                cursor: pointer;
            }

            .header_nav_responsive_container {
                display: none;
                position: absolute;
                height: 100vh;
                top: 40px;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: nth($list: $paleta-de-colores, $n:1 );
                overflow: hidden;
                justify-content: center;
                z-index: 1;

                .header_nav_responsive {
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 80px;
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: nth($list: $paleta-de-colores, $n:2 );
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            color: nth($list: $paleta-de-colores, $n:3 );
                        }

                        .active-header {
                            color: nth($list: $paleta-de-colores, $n:3 );
                        }
                    }
                }
            }
        }

        .header_nav_container {
            display: none;
        }
    }
}
