/*global styles*/ 
body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

p,
a {
    font-family: "Poppins", sans-serif;
}